# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
Minecraft-Source-1.20.1
MinecraftForge-1.20.1
# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo